/* Importa a fonte Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira Code');


/* Estilo do título */
h1 {
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700; /* deixa mais marcante */
  letter-spacing: 1px; /* opcional: deixa futurista */
  margin-left: 5%;
  color: #483D8B;
  display: inline-block;
}
.quote {
  font-family: 'Fira code';
  margin: 0;
  padding: 1em;
  border-radius: 1em;
  text-align: center; /* centraliza todo o texto dentro */
}

.quote figcaption,
.quote blockquote {
  margin: 1em;
}


#generate{
	padding:5px;
	width: auto;
	height: 40%;
	position: relative;
	border: 1px solid hsl(0, 0%, 41%, 0.3);
	margin: 2%;

}

html, body {
  height: 100%;
  margin: 0;       /* remove margens padrão */
  padding: 0;      /* remove padding padrão */
}

input {
	width: 100%;
	margin-bottom: 5px;
	box-sizing: border-box; /* largura agora inclui border e padding */
	margin-left: 0%;
	margin-right: 0%;
}

#btn-gerar {
    display: block; 
	margin-left: auto;
	margin-right: auto;
}

label {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center; /* centraliza o texto dentro do label */
  margin-bottom: 4px;
  margin-top: 4px;
}

#config {
	
	width: 190px;
	height: auto;
	border: 1px solid hsl(0, 0%, 41%, 0.3);
	border-radius: 5px;
	position: absolute;
	top: 4px;
	right: 20px;
	padding: 10px;
}