input {

	  display: block;
	  margin-bottom: 5px;
	  margin: auto;
}
label {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center; /* centraliza o texto dentro do label */
  margin-bottom: 4px;
  margin-top: 4px;
}

#config {
	
	width: 200px;
	height: 300px;
	border:solid 1px;
	border-color: black;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	right: 20px;
}